{% extends "template.html" %}

{% block liste_client %}
<link rel="stylesheet" href="./style/listeclient.css" />
<div class="client-list-container">
  <div class="client-liste-and-search">
    <div class="client-list">
      <h2>Liste des clients</h2>
      <i>Tableau de bord</i>
      <i>/</i>
      <i>Liste des clients</i>
    </div>
    <div class="lc-searchbar-container">
      <input type="text" id="searchInput" placeholder="Rechercher" />
      <img  src="./images/search.svg" alt="" />
    </div>
  </div>

  <div class="client-list-path">
    <div>
      <table>
        <tr>
          <th>Logo</th>
          <th>Nom</th>
          <th>Nom abrégé</th>
          <th>Email</th>
          <th>Information</th>
          <th>Action</th>
        </tr>
        <tbody id="filteredResults">
          {% for r in result %}
            <tr>
              <td class="liste-client-logo">
                <img src="{{ r.logo }}" alt="" />
              </td>
              <td>{{ r.client_name }}</td>
              <td>{{ r.Nom_aberge }}</td>
              <td>{{ r.email }}</td>
              <td>{{ r.information }}</td>
              <td>
                <button class="cssbuttons-io-button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                  >
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                      fill="currentColor"
                      d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"
                    ></path>
                  </svg>
                  <a href="index.php?action=ajouter_utilisateur_client&id={{ r.id }}"
                    >Ajouter utilisateur</a
                  >
                </button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>



{% endblock %}
